<div class="flex flex-col  justify-center items-center max-sm:px-4 w-full">
  <!-- Logo -->
  <img class="w-80" 
       src="/prime care.png" 
       alt="Forgot Password Logo">
    <h2 class="text-center text-2xl mb-6 text-[#40568E]">SELLER CENTER</h2>


  

    
  <!-- Form -->
  <form [formGroup]="forgetpass" (ngSubmit)="submit()" class="w-full border pb-8 border-gray-300 rounded-xl max-w-sm  sm:max-w-md mt-6">
    <!-- Email Field -->
    <h2 class="ml-10 mt-10 mb-5 max-sm:mx-0 max-sm:text-center ">Password Assistant</h2>
    <div class=" w-full max-sm:ml-0 ml-12">
      <h2>Enter Email</h2>
      <input 
        formControlName="email" 
        type="email" 
        aria-label="Email Address"
        class="w-3/4 max-sm:w-full border mt-1.5 border-blue-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500  p-2.5 placeholder-blue-900 text-blue-700 dark:bg-gray-100">
    </div>
    
    <!-- Validation Alerts -->
    <app-alerts [formName]="forgetpass" controlName="email"/>
    
    <!-- Submit Button -->
     <div class="text-center mt-6">
<button
  class="bg-[#8ACCFF] text-black hover:bg-blue-300 mb-3 duration-500 text-center rounded-3xl px-28 p-1"
>
Send Code
</button>   
   </div>
  </form>
  
  <!-- Back to Login Link -->
  <div class="mt-6 text-center">
    <a routerLink="/login" class="text-blue-600 hover:underline">
      ← Back to Login
    </a>
  </div>
</div>