<ng-container class="dark:bg-[#292929]" *ngIf="initialized">
  <div class="app-container">
    <!-- Non-auth pages -->
    <ng-container *ngIf="!isAuthPage; else authLayout">
      <div class="main-layout " [class.mobile-view]="isMobileView">
        <!-- Sidebar on desktop -->
        <app-sidebar *ngIf="!isMobileView"></app-sidebar>

        <!-- Main content area -->
        <main class="main-content  dark:bg-[#292929]">
          <router-outlet></router-outlet>
        </main>
      </div>

      <!-- Mobile nav -->
      <nav class="mobile-nav" *ngIf="isMobileView">
        <app-mobile-nav></app-mobile-nav>
      </nav>
    </ng-container>

    <!-- Auth pages -->
    <ng-template #authLayout>
      <div class="auth-layout ">
        <router-outlet></router-outlet>
      </div>
    </ng-template>
  </div>
</ng-container>
