<div class="flex flex-col  justify-center items-center  w-full px-4 sm:px-8 lg:px-16">
  <!-- Logo -->
  <img class="w-80" src="/prime care.png" alt="prime care">
    <h2 class="text-center text-2xl mb-6 text-[#40568E]">SELLER CENTER</h2>




  <!-- Password Reset Form -->
  <form [formGroup]="resetpass" (ngSubmit)="submit3()" class="border rounded-xl border-gray-400 w-full max-w-sm sm:max-w-md mt-4">
    <!-- Email Field -->
      <h2 class="text-center max-sm:ml-0 mt-5 "> New Password </h2>

    <div class="ml-24 max-sm:ml-0 mt-5">
      <h2>Email</h2>
      <input formControlName="email" type="email"  aria-label="Email Address"
        class="bg-gray-100 w-3/4 border mt-1.5 border-blue-300 text-sm rounded-lg focus:ring-blue-500 text-blue-800 placeholder-blue-900 focus:border-blue-500 block max-sm:w-full  p-2.5">
    <app-alerts [formName]="resetpass" controlName="email" />

    </div>
    <!-- New Password Field -->
<div class="ml-24 max-sm:ml-0 mt-5">
    <h2>New Password </h2>

    <input formControlName="password" type="password"  aria-label="New Password"
        class="bg-gray-100 border w-3/4 mt-1.5 border-blue-300 text-sm rounded-lg focus:ring-blue-500 text-blue-800 placeholder-blue-900 focus:border-blue-500 block max-sm:w-full  p-2.5">
    <app-alerts [formName]="resetpass" controlName="password" />
</div>
    <!-- Confirm Password Field -->
    
    <div class="ml-24 max-sm:ml-0 mt-5">
      <h2>Confirm Password</h2>
<input formControlName="confirmPassword" type="password" 
        aria-label="Confirm Password"
        class="bg-gray-100 border w-3/4 mt-1.5 border-blue-300 text-sm rounded-lg focus:ring-blue-500 text-blue-800 placeholder-blue-900 focus:border-blue-500 block max-sm:w-full  p-2.5">
    </div>
    <app-alerts [formName]="resetpass" controlName="confirmPassword" />

    <!-- Submit Button -->
    <div class="text-center mt-6">
      <button class="bg-[#8ACCFF] text-black hover:bg-blue-300 mb-20 max-sm:mb-10 duration-500 text-center rounded-3xl px-28 p-1 ">
        SUBMIT
      </button>
    </div>
  </form>

  <!-- Back to Login Link -->
  <div class="mt-6 text-center">
    <a routerLink="/login" class="text-blue-600 hover:underline">
      ← Back to Login
    </a>
  </div>
</div>